// Body
$body-bg: #eeebdd;

// Typography
$font-family-sans-serif: "Poppins", sans-serif;
$font-family-title: "Monoton", cursive;
$font-family-subtitle: "Josefin Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// colors
$blue: #cddeff;
$indigo: #3e2c41;
$purple: #5c527f;
$pink: #bd4b4b;
$red: #bd1616;
$orange: #c84b31;
$yellow: #f0a500;
$green: #346751;
$teal: #d8e9a8;
$cyan: #6e85b2;
$white: #eeebdd;
